*{
  padding: 0%;
  margin: 0%;
}
#app{
  width: 550px;
  /* height: 240px; */
  border: 1px solid rgba(180, 177, 177,.2);
  margin: 80px auto;
  border-radius: 10px;
}
ul li{
  list-style: none;
}
#app .goods{
  text-indent: 2em;
  font-size: 12px;
  display: flex;
  border-bottom: 1px dotted  rgba(180, 177, 177,.2);
  align-content: flex-start;
  align-items: center;
}
#app .goods:last-child{
  border-bottom:none ;
}
#app .goods  .type-list{
  display:flex;
  text-indent: 0;
 

}
#app .type-list .type{
  float:left;
  margin:20px  8px;
  padding: 2px  2px;
  cursor: pointer;
  border-radius: 5px;
   color: blue;
}
#app .goods .type-list .type:hover{
  background-color: rgb(238, 220, 143);
  color: rgb(235, 116, 48);

}
#app .goods .type-list .type.active{
  color: white;
  background-color: orangered;
}

#app .choose-type{
  text-indent: 2em;
  display: flex;
  align-items: center;
  font-size: 12px; 
  font-weight: bold;


}
#app .choose-type .no-goods {
  display: flex;
  color: #999;
  font-weight: normal;
  margin: 20px;
  font-weight: initial;
}
#app .choose-type .filter-list {
  display: flex;
  font-weight: normal;
}
#app .choose-type  .filter-list li{
  text-indent: 0;
  margin:20px  8px;
  padding: 2px  2px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: orangered;
}
#app .choose-type .filter-list li .delete-goods {
  opacity: .5;
}

#app .choose-type .filter-list li .delete-goods:hover {
  opacity: 1;
}















