
<nz-layout>
    <nz-content>
        <div nz-col nzSpan="6">
            <div class="panel-contal">
                <h2><strong>画布</strong></h2>
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
            </div>
            <div class="choose-layout">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu">调整布局<i nz-icon nzType="down"></i></button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item class="layout-1">
                      <a>布局1</a>
                    </li>
                    <li nz-menu-item>
                      <a>布局2</a>
                    </li>
                    <li nz-menu-item>
                      <a>布局3</a>
                    </li>
                    <li nz-menu-item>
                       <a>布局4</a>
                    </li>
                  </ul>
                </nz-dropdown-menu>
            </div>
           
        </div>
        <div nz-col nzSpan="12">5555555555555555555</div> 
        <div nz-col nzSpan="6">c88</div>
    </nz-content>
</nz-layout>
      


